@font-face{
	font-family: "freaky";
	src: url("../fonts/freaky.otf");
}

header{
	display: flex;
	background-color: #306d29;    
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px; 
	justify-content: space-between; 
	background: transparent !important;
}

header image{
	display: flex;
	justify-content: flex-start;
	align-items: center; 
	
}

body {     
	margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../images/Cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
	
main{
	
}

nav{
	display: flex;
	justify-content: center;   
	align-items: center;       
	gap: 30px;                 
	padding:10px;   
	
}

a{
	text-decoration: none;
	color: #114817;
	font-family: "freaky";
	font-size: 32px;                
}



.